* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

header {
    width: 100%;
    background-color: white;
}

.navbar {
    /* 3.75rem = 60px */
    height: 3.75rem;
}

.first {
    background-color: #faebd7;
}

.hero-link:hover{
    color: white;
    background-color: black;
}

.hero-link:active{
    border: 2px dashed black;
}

/* hu = it means hover underline */
.hu:hover{
    text-decoration: underline;
}

/* dif = it means different thing which I copy from website  */
.dif{
    display: block;
    padding: 6px 8px;
    background: rgb(241, 241, 242);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-size: 8px;
    line-height: 1;
    border-top-left-radius: 3px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

